body {
    background-color: black;
}

button {
    background-color: #9f32ff;
    border: none;
    color: #55ff55;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div.centering {
    text-align: center;
    padding: 45px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 7px solid #55ff55;
    background-color: #9f32ff;
    padding: 3px 2px;
}
